.mainbody{
	margin: 50px 0px
}

.navbar{
	
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    float:left;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin:  auto; /* Same as the width of the sidebar */
    padding: 100px 400px;
    float:left;
    flex: 1 0 auto;
}
footer{
    clear:both;
}

.datadiri{
	display: block;
	margin-left: 50%;
}